/* WRAPPER */
.register-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff8c00;
  animation: fadeIn 1s ease-in-out;
}

/* BOX */
.register-box {
  width: 400px;
  background: white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
  animation: slideUp 1.1s ease;
}

/* TITLE */
.register-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.star-icon {
  color: #ff8c00;
  animation: glow 1.8s infinite alternate;
}

/* INPUT GROUP */
.input-group {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.input-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #ff8c00;
}

/* BUTTON */
.register-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: #ff8c00;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.register-btn:hover {
  background: #ff8c00;
  color: black;
}

/* ALREADY HAVE ACCOUNT */
.signin-text {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.signin-text a {
  color: #ff8c00;
  font-weight: bold;
  text-decoration: none;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes glow {
  from { text-shadow: 0 0 5px #ffe0b5; }
  to { text-shadow: 0 0 15px #ff8c00; }
}
