/* WRAPPER */
.signin-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff8c00;
  animation: fadeIn 1s ease-in-out;
}

/* BOX */
.signin-box {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
  animation: slideUp 1s ease;
}

/* TITLE */
.signin-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.star-icon {
  color: #ff8c00;
  animation: glow 1.8s infinite alternate;
}

/* INPUT GROUP */
.input-group {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.input-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #ff8c00;
}

/* BUTTON */
.signin-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: #ff8c00;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.signin-btn:hover {
  background: #ff8c00;
  color: black;
}

/* BOTTOM TEXT */
.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.signup-text a {
  color: #ff8c00;
  font-weight: bold;
  text-decoration: none;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes glow {
  from { text-shadow: 0 0 6px #ffe0b5; }
  to { text-shadow: 0 0 15px #ff8c00; }
}
